{% extends 'base.html' %} {% load static %} {% load humanize %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock stylesheet %} 

{% block content %}
{% if post_items.count == 0 %}
  <div class="alert alert-primary mt-4" style="font-size: 18px" role="alert">
    Hi , {{request.user.username|capfirst}}! You are currently not following any
    user. Go to the search bar and follow some users to have their content on your
    feed.
  </div>
{% else %}

  <!-- Stories -->
  {% if len_of_own_stories == 0 %}
    {% if len_of_stories == 0 %}
      <div class="alert alert-primary mt-4" style="font-size: 18px" role="alert">
        Hi , <b>{{request.user.username|capfirst}}</b>! None of your following has
        posted any stories yet!
      </div>
    {% endif %}
  {% endif %}

  <div class="container mt-2">
    <div class="row">
      <div class="col-lg-12 layout-spacing">
        <div class="statbox widget box box-shadow">
          <div class="widget-header">
            <div class="row">
              <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                <h4 class="pt-4 pl-2">
                  Stories
                  <a
                    href="{% url 'new_story' %}"
                    class="btn btn-outline-primary float-end"
                    >Create New Story</a
                  >
                </h4>
              </div>
            </div>
          </div>
  
          <div class="widget-content widget-content-area">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="content_1" class="tabcontent story-area">
                  <div class="story-container-1">
                    {% if own_stories %}
                      <button
                        style="border: none"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal-own-story"
                      >
                        <div class="single-story">
                          <img
                            src="{{request.user.profile.picture.url}}"
                            class="single-story-bg"
                          />
                          <div class="story-author">
                            <img
                              src="{{request.user.profile.picture.url}}"
                              style="border: 1px solid red"
                            />
                            <p>{{request.user}}</p>
                          </div>
                        </div>
                      </button>
                      <!-- Own Story Modal -->
                      <div
                        class="modal fade"
                        id="exampleModal-own-story"
                        tabindex="-1"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">
                                @{{request.user}}
                              </h5>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                            </div>
                            <div class="modal-body">
                              {% for story in own_stories %}
                              <!-- prettier-ignore -->
                              {% if own_stories.all.count == 1 %}
                              <span class="badge bg-secondary float-right mt-1"
                                >{{story.posted|naturaltime}}</span
                              >
                              <a href="{% url 'delete_story' story.id %}"
                                ><span class="badge bg-danger mb-2"
                                  ><i class="fa-solid fa-trash"></i> Delete
                                  Story</span
                                ></a
                              >
                              <!-- prettier-ignore -->
                              {% if story.content.name|slice:'-3:'|lower == 'jpg' or story.content.name|slice:'-3:'|lower == 'png' %}
                              <img
                                src="{{story.content.url}}"
                                class="d-block w-100"
                                alt="..."
                              />
                              {% else %}
                              <video
                                id="my-video"
                                width="475"
                                height="400"
                                controls="controls"
                                preload="metadata"
                                src="{{story.content.url}}#t=0.5"
                                type="video/mp4"
                              ></video>
    
                              {% endif %} {% endif %} {% endfor %}
                              <!-- prettier-ignore -->
                              {% if own_stories.all.count > 1 %}
    
                              <div
                                id="carouselExampleControls-own-story"
                                data-interval="false"
                                class="carousel slide"
                                data-bs-ride="carousel"
                              >
                                <div class="carousel-inner">
                                  {% for story in own_stories %}
    
                                  <div
                                    class="carousel-item {% if own_stories.first.content.name == story.content.name %}active{% endif %}"
                                  >
                                    <span
                                      class="badge bg-secondary float-right mt-1"
                                      >{{story.posted|naturaltime}}</span
                                    >
                                    <a href="{% url 'delete_story' story.id %}"
                                      ><span class="badge bg-danger mb-2"
                                        ><i class="fa-solid fa-trash"></i> Delete
                                        Story</span
                                      ></a
                                    >
                                    <!-- prettier-ignore -->
                                    {% if story.content.name|slice:'-3:'|lower == 'jpg' or story.content.name|slice:'-3:'|lower == 'png'%}
                                    <img
                                      src="{{story.content.url}}"
                                      class="d-block w-100"
                                      alt="..."
                                    />
    
                                    {% else %}
                                    <video
                                      id="my-video"
                                      width="500"
                                      height="400"
                                      controls="controls"
                                      preload="metadata"
                                      src="{{story.content.url}}#t=0.5"
                                      type="video/mp4"
                                    ></video>
                                    {% endif %}
                                  </div>
    
                                  {% endfor %}
                                </div>
                                <button
                                  style="margin-top: 50%; height: 10px"
                                  class="carousel-control-prev"
                                  type="button"
                                  data-bs-target="#carouselExampleControls-own-story"
                                  data-bs-slide="prev"
                                >
                                  <span
                                    class="carousel-control-prev-icon"
                                    aria-hidden="true"
                                  ></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button
                                  style="margin-top: 50%; height: 10px"
                                  class="carousel-control-next"
                                  type="button"
                                  data-bs-target="#carouselExampleControls-own-story"
                                  data-bs-slide="next"
                                >
                                  <span
                                    class="carousel-control-next-icon"
                                    style="color: blueviolet"
                                    aria-hidden="true"
                                  ></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
  
                    {% endif %}
                    {% if stories %} 
                      {% for story in stories %}
                      <!-- prettier-ignore -->
                        {% if story %}
                          {% for file in story %}
                            {% if file %}
                            <button
                              style="border: none"
                              data-bs-toggle="modal"
                              data-bs-target="#exampleModal{{file.id}}"
                            >
                              <div class="single-story">
                                <img
                                  src="{{file.following.profile.picture.url}}"
                                  class="single-story-bg"
                                />
                                <div class="story-author">
                                  <img
                                    src="{{file.following.profile.picture.url}}"
                                    style="border: 1px solid red"
                                  />
                                  <p>{{file.following}}</p>
                                </div>
                              </div>
                            </button>
                            <!-- Story Modal -->
                            <div
                              class="modal fade"
                              id="exampleModal{{file.id}}"
                              tabindex="-1"
                              aria-labelledby="exampleModalLabel"
                              aria-hidden="true"
                            >
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                      @{{file.following}}
                                    </h5>
                                    <button
                                      type="button"
                                      class="btn-close"
                                      data-bs-dismiss="modal"
                                      aria-label="Close"
                                    ></button>
                                  </div>
                                  <div class="modal-body">
                                    {% for content in file.story.all %}
                                    <!-- prettier-ignore -->
                                    {% if file.story.all.count == 1 %}
                                    <span class="badge bg-secondary float-right mb-2"
                                      >{{content.posted|naturaltime}}</span
                                    >
                                    <!-- prettier-ignore -->
                                    {% if file.story.first.content.name|slice:'-3:'|lower == 'jpg' or file.story.first.content.name|slice:'-3:'|lower == 'png' %}
                                    <img
                                      src="{{content.content.url}}"
                                      class="d-block w-100"
                                      alt="..."
                                    />
                                    {% else %}
                                    <video
                                      id="my-video"
                                      width="500"
                                      height="400"
                                      controls="controls"
                                      preload="metadata"
                                      src="{{content.content.url}}#t=0.5"
                                      type="video/mp4"
                                    ></video>
          
                                    {% endif %} {% endif %} {% endfor %}
                                    <!-- prettier-ignore -->
                                    {% if file.story.all.count > 1 %}
          
                                    <div
                                      id="carouselExampleControls{{file.id}}"
                                      data-interval="false"
                                      class="carousel slide"
                                      data-bs-ride="carousel"
                                    >
                                      <div class="carousel-inner">
                                        {% for content in file.story.all %}
          
                                        <div
                                          class="carousel-item {% if file.story.first.content.name == content.content.name %}active{% endif %}"
                                        >
                                          <span
                                            class="badge bg-secondary float-right mb-2"
                                            >{{content.posted|naturaltime}}</span
                                          >
                                          <!-- prettier-ignore -->
                                          {% if content.content.name|slice:'-3:'|lower == 'jpg' or content.content.name|slice:'-3:'|lower == 'png'%}
                                          <img
                                            src="{{content.content.url}}"
                                            class="d-block w-100"
                                            alt="..."
                                          />
          
                                          {% else %}
                                          <video
                                            id="my-video"
                                            width="500"
                                            height="400"
                                            controls="controls"
                                            preload="metadata"
                                            src="{{content.content.url}}#t=0.5"
                                            type="video/mp4"
                                          ></video>
                                          {% endif %}
                                        </div>
                                        <span class="badge bg-secondary float-right"
                                          >{{content.content.posted|naturaltime}}</span
                                        >
          
                                        {% endfor %}
                                      </div>
                                      <button
                                        style="margin-top: 50%; height: 10px"
                                        class="carousel-control-prev"
                                        type="button"
                                        data-bs-target="#carouselExampleControls{{file.id}}"
                                        data-bs-slide="prev"
                                      >
                                        <span
                                          class="carousel-control-prev-icon"
                                          aria-hidden="true"
                                        ></span>
                                        <span class="visually-hidden">Previous</span>
                                      </button>
                                      <button
                                        style="margin-top: 50%; height: 10px"
                                        class="carousel-control-next"
                                        type="button"
                                        data-bs-target="#carouselExampleControls{{file.id}}"
                                        data-bs-slide="next"
                                      >
                                        <span
                                          class="carousel-control-next-icon"
                                          style="color: blueviolet"
                                          aria-hidden="true"
                                        ></span>
                                        <span class="visually-hidden">Next</span>
                                      </button>
                                    </div>
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
                            {% endif %} 
                          {% endfor %} 
                        {% endif %} 
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endif %}
{% endblock content %}
